main p{
     
        font-family: Georgia;
        text-align: justify;
        color: indigo;
        
        
     }

     .texto-do-rodape{
    
     font-family: fantasy;
     font-size: smaller;
     color:darkmagenta;
     text-align: center;
     
     }
      
     #nav-equipe{

     background-color: lightpink;
     font-family:Verdana;
     color:blueviolet


     }
    .barra-nav{

    text-align: center;

    }

